<div class="nav-wrapper">
    
    <div class="nav-left">
        <a class="navbar-brand" href="">VESTAS</a>
    </div>

    <nav class="nav-menu">
        <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
            Dashboard
        </NavLink>

        <NavLink class="nav-link" href="checklist-reviews">
            Checklist Reviews
        </NavLink>

        <NavLink class="nav-link" href="checklist-run">
            Checklist Run
        </NavLink>

        <NavLink class="nav-link" href="templates">
            Templates
        </NavLink>

        <NavLink class="nav-link" href="my-checklists">
            My Checklists
        </NavLink>
    </nav>

</div>