@page "/"

<PageTitle>DashboardPage</PageTitle>

<h1> ⚠️ UNDER CONSTRUCTION  ⚠️ </h1>

<label class="check-wrapper">
    <input type="checkbox" class="nice-check" />
    <span>Er det her pænt? Chek for ja, ignorer for nej... :)</span>
</label>
<input type="search" placeholder="Øhhhm">

<div class="card">
    <h3>Studiegruppe</h3>

    <table>
        <thead>
        <tr>
            <th>Navn</th>
            <th>Status</th>
        </tr>
        </thead>

        <tbody>
        <tr>
            <td>Niels</td>
            <td><span class="badge badge-success">Aktiv</span></td>
        </tr>

        <tr>
            <td>LA</td>
            <td><span class="badge badge-success">Aktiv</span></td>
        </tr>

        <tr>
            <td>Daniel</td>
            <td><span class="badge badge-warning">Mangler opgave</span></td>
        </tr>

        <tr>
            <td>Benedikte</td>
            <td><span class="badge badge-success">Aktiv</span></td>
        </tr>
        </tbody>
    </table>
</div>

